/* Ensure the header and search bar are properly aligned and responsive */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  background-color: #fefefe;
  height: 170px; /* ปรับความสูงของ Header */
  overflow: hidden; /* จำเป็นต้องใส่เพื่อที่จะแสดงขอบโค้งถูกต้อง */
  margin-bottom: 1px;
  border-bottom: 1px solid rgb(221, 217, 217);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.container-logo img {
  height: 60px;
  width: auto;
}

.container-logo span {
  font-size: 20px;
  font-weight: bold;
}

.container-search {
  display: flex;
  align-items: center;
}

.container-search input {
  width: 700px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #d4d5d6;
}

.container-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  gap: 20px;
}

.container-icons svg{
  height: 35px;
  width: 30px;
  cursor: pointer;
}

.container-icons svg path{
  fill: #2CD5BD;
}

/* Add this to your CSS file or style block */

/* Style for the dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Style for the dropdown button */
.dropbtn {
  padding: 10px;
  background-color: #fefefe;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown content when the dropdown container is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the dropdown items */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}