/* Ensure the header and search bar are properly aligned and responsive */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  background-color: white;
  height: 100px; /* ปรับความสูงของ Header */
  border-radius: 10px;
  overflow: hidden; /* จำเป็นต้องใส่เพื่อที่จะแสดงขอบโค้งถูกต้อง */
  margin-bottom: 20px;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.container-logo img {
  height: 60px;
  width: auto;
}

.container-logo span {
  font-size: 20px;
  font-weight: bold;
}

.container-search {
  display: flex;
  align-items: center;
}

.container-search input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: hsla(195, 30%, 69%, 0.63);
}

.container-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  gap: 20px;
}

.container-icons img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
