/* Homepage.css */

.homepage {
  font-family: Arial, sans-serif;
  color: #333;
  /* background-image: -moz-radial-gradient(center,ellipse closest-corner,rgb(0, 0, 0) ,#769FCD ); */
  /* background-image: -webkit-radial-gradient(center,ellipse closest-corner,rgb(255, 255, 255) ,rgb(49, 97, 187) ); */
  background-color: #F8F8F8 ;
  min-height: 100vh;
  width:  100%;
}

.blog-section {
  margin-top: 20px;
}

.blog-section textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  resize: none; /* Disable textarea resizing */
  margin-bottom: 10px;
  background-color: #F5F5F5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none; /* เพิ่มบรรทัดนี้เพื่อลบเส้นขอบ */
}

.blog-section button {
  background-color: #2CD5BD;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.message-container {
  background-color: #EFFFFB;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.blog-item {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-top: 15px;
  width: 100%;
  word-wrap: break-word;
}

.blog-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.blog-icons button {
  color: #2CD5BD;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 14px;
}

.blog-icons span {
  margin-left: 5px;
  color: #333;
}

.blog-icons svg {
  font-size: 20px;
  color: #2CD5BD;
}

.blog-item {
  background-color: #F5F5F5;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-top: 15px;
  transition: background-color 0.3s ease; /* เพิ่ม transition เพื่อทำให้การเปลี่ยนสีมีการเคลื่อนไหวเรียบขึ้น */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.blog-item:hover {
  border: 2px solid #4396FF ;
}


.padding-container{
  padding-top: 30px;
  padding-bottom: 30px;
}

.font-padding{
  padding-left: 10px;
}

.col{
  border: none;
  background-color: #ffffff;
}

.col:hover {
  /* สีพื้นหลังที่คุณต้องการเมื่อโฮเวอร์ */
  background-color: #b7bbb9;
  cursor: pointer; /* เพื่อแสดงเครื่องหมายเมื่อโฮเวอร์ */
}

hr.solid{
  border-top: 1.5px solid #4396FF;
}

.ant-dropdown-link {
  border-bottom: none; /* กำหนด border-bottom เป็น none เพื่อลบขีดเส้นใต้ */
}


.last{
  transition: border-bottom 0.1s ease;
}
.last:hover{
  color:#2CD5BD;
  border-bottom: #2CD5BD 3px solid ;
}







