
.report-page {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-color: #00bfff; /* Light blue background */
  padding: 20px;
  height: 738px;
  background-size: cover;
  
}

.reasons-list {
  margin-top: 20px;
}

.reason {
  height: auto;
  background-color: #ffffff; /* White background for reasons */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 20px; /* Rounded corners for reasons */
  padding: 15px 20px;
  margin: 10px 0; /* Margin between reasons */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color change on hover */
}

.reason:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}

/* Include additional styles from the CommentPage.css if needed */

.comment-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff; /* Light blue background */
}

/* Logo styling */
.comment-page-logo {
  display: flex;
  align-items: center;
}

.comment-page-logo img {
  height: 50px; /* Example size, adjust as needed */
}

/* Search bar styling */
.comment-page-search {
  flex-grow: 1; /* Let the search bar grow to fill the space */
  margin: 0 20px;
}

.comment-page-search input {
  position: fixed;
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 20px; /* Rounded corners for the search bar */
  margin-right: 10px;
  right: 270px;
  top: 38px;
}

/* Icons on the right */
.comment-page-icons {
  display: flex;
  align-items: center;
}

.comment-page-icon {
  margin-left: 20px;
  cursor: pointer;
}
