.profile-page{
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #D2E0FB;
  height: 100vh;
}

.container-profile-page {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    height: 50vh;
}