.comment-page {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #D2E0FB;
  padding: 20px;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin-left{
  margin-left: 20px;
}

.card-control{
  background-color: #D2E0FB;
}
