.card{
    box-shadow: 2px 3.5px 2px hsla(0, 0%, 0%, 0.2); 
    width: 50%;
    height: 100%;
}

.card:hover{
    box-shadow: 2px 3.5px 2px hsla(0, 0%, 0%, 0.4);
}

.card-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin: 0;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin: 0;
    border-bottom: none !important;
    background-color: white !important;
}

.card-header p{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-header p:not(:last-child){
    margin-right: 20px;
}

.card-text{
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
    height: 200px;
    color: hsl(0, 0%, 40%);
}

.card-footer{
    font-family: Arial, sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
    border-top: none !important;
    background-color: white !important;
}

.card-footer p{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-footer p:not(:last-child){
    margin-right: 20px;
}

.flex-div{
    display: flex;
}
